body{
    /*allows the tools that follow to work on the body's direct children*/
    display: flex;
    /*centers items horizontally*/
    justify-content: center;
    /*centers items vertically*/
    align-items: center;
    background-color: #eaddf3;
}

#Welcome{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    font-size: 20px;
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 20px;
    width: 600px;
    height: 350px;
}

#Buttons button:hover{
    opacity: 70%;

}

#Buttons button:active{
    opacity: 90%;
}

#Buttons button{
    display: flex;
    text-align: center;
    font-size: 30px;
    gap: 100px;
    margin-top: 30px;
    background-color: rgb(188, 188, 244);
    border-radius: 20px;
    align-items: center;
}

#Buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    align-items: center;