
body {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.title {
    display: flex;
    justify-content: center;
}
.container {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px;
}

#loginForm {
    display: flex;
    flex-direction: column;

    padding: 20px;

    gap: 30px;
}

input {
    padding: 5px;
    border-radius:  5px;

}

button {
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

button:hover {
    background-color: #ebe8e8;
}

button:active {
    background-color: #d0cece;
}